<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--<property resource="application.properties" />-->
    <!--<springProperty scope="context" name="envName" source="spring.name"/>-->
    <!--<springProperty scope="context" name="mailTo" source="spring.mailTo"/>-->

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/zuul.txt</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>log/tease-game-%d{yyyy-MM-dd}.%i.txt</FileNamePattern>
            <!-- each file should be at most 300MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>300MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--<appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">-->
        <!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
            <!--<evaluator>-->
                <!--<expression>return message.contains("704");</expression>-->
            <!--</evaluator>-->
            <!--<OnMismatch>NEUTRAL</OnMismatch>-->
            <!--<OnMatch>DENY</OnMatch>-->
        <!--</filter>-->
        <!--<smtpHost>${mail.smtpHost}</smtpHost>-->
        <!--<smtpPort>${mail.smtpPort}</smtpPort>-->
        <!--<username>${mail.username}</username>-->
        <!--<password>${mail.password}</password>-->
        <!--<SSL>true</SSL>-->
        <!--<asynchronousSending>true</asynchronousSending>-->
        <!--<to>${mailTo}</to>-->
        <!--<from>${mail.from}</from>-->
        <!--<subject>【${envName}】%message</subject>-->
        <!--<layout class="ch.qos.logback.classic.html.HTMLLayout">-->
            <!--&lt;!&ndash;<pattern>%date%level%X{id}%X{name}%X{role}%logger{0}%message</pattern>&ndash;&gt;-->
            <!--<pattern>%date%level%mdc%logger{0}%message</pattern>-->
        <!--</layout>-->
        <!--<cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">-->
            <!--&lt;!&ndash; send just 5 log entry per email &ndash;&gt;-->
            <!--<bufferSize>10</bufferSize>-->
        <!--</cyclicBufferTracker>-->
    <!--</appender>-->

    <!--<logger name="com.homework" level="INFO" additivity="true">-->
        <!--<appender-ref ref="email"/>-->
    <!--</logger>-->

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="file"/>
        </root>
    </springProfile>

    <!--<springProfile name="test">-->
        <!--<root level="INFO">-->
            <!--<appender-ref ref="STDOUT"/>-->
            <!--<appender-ref ref="file"/>-->
        <!--</root>-->
    <!--</springProfile>-->
    <!--<springProfile name="local">-->
        <!--<root level="INFO">-->
            <!--<appender-ref ref="STDOUT"/>-->
            <!--<appender-ref ref="file"/>-->
        <!--</root>-->
    <!--</springProfile>-->

</configuration>